<main class="container my-5 text-justify">
  <h1>Términos de Uso de la ONG ZUMATE</h1>

  <p class="font-italic">Última actualización: 05/11/2024</p>

  <div class="text-justify">
    <h2>1. Aceptación de los Términos</h2>
    <p>Al acceder y utilizar este sitio web, usted acepta cumplir con estos términos de uso. Si no está de acuerdo con
      estos términos, le recomendamos no utilizar nuestro sitio. Estos términos son aplicables a todos los visitantes,
      usuarios y otros que accedan al sitio.</p>
    <p>Nos reservamos el derecho de modificar estos términos en cualquier momento. Es responsabilidad del usuario
      revisar estos términos periódicamente para estar al tanto de los cambios.</p>

    <h2>2. Uso del Sitio</h2>
    <p>Este sitio es para uso personal y no comercial. Está prohibido reproducir, distribuir o modificar el contenido
      sin autorización previa. Usted se compromete a utilizar el sitio de manera responsable y a no utilizarlo para
      fines ilegales. El acceso no autorizado a nuestro sitio, la interferencia con las redes o servidores, o el intento
      de acceder a información no destinada a usted está prohibido.</p>
    <p>Además, se prohíbe el uso del sitio para enviar o recibir materiales que sean ilícitos, amenazantes,
      difamatorios, obscenos o de otra manera inaceptables.</p>

    <h2>3. Normas de Conducta</h2>
    <p>Se espera que los usuarios del sitio se comporten de manera respetuosa y cortés. Cualquier conducta que sea
      ofensiva, difamatoria o que infrinja los derechos de otros será motivo de suspensión o cancelación de acceso al
      sitio. Esto incluye, pero no se limita a:</p>
    <ul>
      <li>Publicar contenido que infrinja derechos de autor o marcas registradas.</li>
      <li>Realizar comentarios despectivos o de odio hacia otros usuarios o grupos.</li>
      <li>Utilizar el sitio para acosar, amenazar o intimidar a otros.</li>
    </ul>
    <p>La ONG ZUMATE se reserva el derecho de eliminar contenido inapropiado o perjudicial que sea publicado por los
      usuarios, así como tomar las acciones necesarias contra los infractores.</p>

    <h2>4. Propiedad Intelectual</h2>
    <p>Todo el contenido del sitio, incluyendo textos, gráficos, logotipos, imágenes y software, es propiedad de la ONG
      ZUMATE y está protegido por derechos de autor y otras leyes de propiedad intelectual. No se permite la
      reproducción total o parcial de dicho contenido sin el consentimiento expreso por escrito de la ONG ZUMATE.</p>
    <p>Cualquier uso no autorizado del contenido, incluyendo la publicación en otros sitios web o plataformas, será
      perseguido legalmente.</p>

    <h2>5. Limitación de Responsabilidad</h2>
    <p>La ONG ZUMATE no se hace responsable por daños directos o indirectos, pérdida de datos, o cualquier otro daño que
      pueda surgir del uso o la imposibilidad de usar el sitio. El uso del sitio es bajo su propio riesgo. Esto incluye
      la responsabilidad por cualquier daño causado por virus o cualquier otro elemento dañino que pueda afectar su
      equipo informático o su propiedad.</p>
    <p>Si bien nos esforzamos por mantener la información en el sitio actualizada y precisa, no garantizamos que el
      contenido sea libre de errores o que se mantenga actualizado en todo momento.</p>

    <h2>6. Tratamiento de Datos Personales</h2>
    <p>La ONG ZUMATE se compromete a proteger la privacidad de los usuarios. Cualquier dato personal que se recoja a
      través de este sitio será tratado de acuerdo con nuestra <a routerLink="/terminos-privacidad">Política de
        Privacidad</a>. Al utilizar el sitio, usted consiente el tratamiento de sus datos personales según lo descrito
      en dicha política.</p>
    <p>Usted tiene derecho a acceder, rectificar y eliminar sus datos personales, así como a oponerse a su tratamiento.
      Para ejercer estos derechos, puede comunicarse con nosotros a través de los medios de contacto proporcionados.</p>

    <h2>7. Modificaciones</h2>
    <p>Nos reservamos el derecho de modificar estos términos en cualquier momento. Cualquier cambio será efectivo en el
      momento de su publicación en este sitio. Por lo tanto, le recomendamos que revise estos términos periódicamente
      para estar al tanto de cualquier cambio. Su uso continuado del sitio después de la publicación de cambios
      constituirá su aceptación de dichos cambios.</p>

    <h2>8. Legislación Aplicable</h2>
    <p>Estos términos se rigen por las leyes de Perú. Cualquier controversia que surja en relación con estos términos
      será resuelta en los tribunales competentes de Perú. Si alguna disposición de estos términos se considera inválida
      o inaplicable, las disposiciones restantes seguirán siendo válidas y aplicables.</p>

    <h2>9. Contacto</h2>
    <p>Si tiene alguna pregunta sobre estos términos, por favor contáctenos a través de los siguientes medios:</p>
    <ul>
      <li>Email: <a href="mailto:zumate.vive@gmail.com">zumate.vive&#64;gmail.com</a></li>
      <li>Teléfono: +51 917 365 659</li>
      <li>Oficina Central: Jr. Huiracocha N°1570 - Jesús María, Perú</li>
    </ul>
  </div>
</main>
