<!-- Información de la página -->
<div class="contenedor-primario">
  <div class="contenedor-img-manos2">
      <img src="/Patrocinar-proyecto/Manos.png" alt="Manos">
  </div>
</div>

<div class="contenedor-secundario">
  <div class="contenedor-2-nombre">
      <h1>PATROCINAR UN PROYECTO</h1>
  </div>
  <div class="contenedor-parrafo1">
      <p>
          En ZUMATE ONG, creemos en el poder de las alianzas para lograr un cambio real y duradero. Patrocinar uno de nuestros proyectos te permite contribuir directamente al desarrollo y bienestar de niños y adolescentes en situación de vulnerabilidad. Tu empresa o institución puede ser parte fundamental de nuestras iniciativas más importantes.
      </p>
  </div>
</div>

<div class="contenedor-razones">
  <div class="contenedor-razones-2">
      <h2>¿POR QUÉ PATROCINAR UN PROYECTO?</h2>
      <div class="contenedor-parrafos-2">
          <ul>
              <li class="subtitulo">
                  <strong class="subtitulo-strong">Impacto Social Directo:</strong> Tus aportes ayudarán a financiar programas esenciales, desde educación y salud hasta actividades recreativas y culturales.
              </li>
              <li class="subtitulo">
                  <strong class="subtitulo-strong">Visibilidad:</strong> Al ser patrocinador, tu empresa o marca será destacada en todos los eventos, campañas y comunicaciones relacionadas con el proyecto que apoyes.
              </li>
              <li class="subtitulo">
                  <strong class="subtitulo-strong">Responsabilidad Social Corporativa (RSC):</strong> Patrocinar a ZUMATE ONG refuerza tu compromiso con la comunidad y eleva la reputación de tu empresa como agente de cambio social.
              </li>
          </ul>
          <div class="contenedor-btn-patrocinar">
              <button class="btn-patrocinar" routerLink="/patrocinar">¡QUIERO PATROCINAR!</button>
          </div>
      </div>
  </div>
</div>

