<!--Información de la página-->
<div class="contenedor-carousel row d-flex col-lg-12 col-md-12 col-sm-12 mx-auto">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="texto-carousel carousel-item active">

        <div class="card mx-auto" style="width: 70%;">
          <img src="/Inicio/imagen1.png" class="card-img-top d-none d-md-block" alt="Zumate 3">
          <div class="card-body">
            <h5 class="card-title">¿QUIÉNES SOMOS?</h5>
            <p class="card-text">Somos una organización sin fines de lucro comprometida con brindar apoyo integral a
              niños y adolescentes en situación de vulnerabilidad. A través de proyectos educativos, culturales y
              recreativos, trabajamos para prevenir factores de riesgo como la deserción escolar, la exclusión social y
              la falta de acceso a recursos básicos de salud y bienestar, promoviendo un desarrollo saludable e
              inclusivo.
            </p>
          </div>
        </div>
      </div>

      <div class="texto-carousel carousel-item">
        <div class="card mx-auto" style="width: 70%;">
          <img src="/Inicio/imagen3.png" class="card-img-top d-none d-md-block" alt="Zumate 2">
          <div class="card-body">
            <h5 class="card-title">MISIÓN</h5>
            <p class="card-text">Nuestra misión es brindar apoyo integral a niños y adolescentes de escasos
              recursos de Lima, ofreciendo oportunidades educativas, recreativas y de desarrollo
              personal, con el fin de prevenir su involucramiento en pandillas juveniles, embarazo
              adolescente, drogadicción y desnutrición. Buscamos crear un entorno seguro y
              nutritivo donde puedan desarrollar su máximo potencial y convertirse en agentes
              de cambio en sus comunidades.
            </p>
          </div>
        </div>
      </div>
      <div class="texto-carousel carousel-item">
        <div class="card mx-auto" style="width: 70%">
          <img src="/Inicio/imagen2.png" class="card-img-top d-none d-md-block" alt="Zumate 1">
          <div class="card-body">
            <h5 class="card-title">VISIÓN</h5>
            <p class="card-text">Nuestra visión es ser una organización líder que transforme la vida de la
              comunidad en situación de vulnerabilidad, reduciendo significativamente los
              índices de violencia, pandillaje, embarazo adolescente, drogadicción,
              desnutrición, entre otros. Aspiramos a crear una comunidad próspera donde cada
              joven cree y tenga acceso a oportunidades que le permitan un desarrollo integral y
              una vida digna.
            </p>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!--Contenedor nuestros valores-->
<div class="contenedor-valores row d-flex justify-content-center col-lg-12 col-md-12 col-sm-12 mx-auto">
  <div class="row g-4">
    <h2>VALORES</h2>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
      <div class="card tarjeta-resp">
        <i class="icono-valores fa-solid fa-hand-holding-heart fa-5x"></i>
        <div class="texto-tarjeta-valores card-body">
          <h5 class="card-title">COMPASIÓN</h5>
          <p class="card-text">Actuamos con empatía y comprensión hacia las difíciles circunstancias de
            los niños y adolescentes.</p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
      <div class="card tarjeta-resp">
        <i class="icono-valores fa-solid fa-handshake fa-5x"></i>
        <div class="texto-tarjeta-valores card-body">
          <h5 class="card-title">COMPROMISO</h5>
          <p class="card-text">Nos dedicamos incansablemente a mejorar la calidad de vida de los jóvenes y
            sus familias.</p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
      <div class="card tarjeta-resp">
        <i class="icono-valores fa-solid fa-people-roof fa-5x"></i>
        <div class="texto-tarjeta-valores card-body">
          <h5 class="card-title">INTEGRIDAD</h5>
          <p class="card-text">Mantenemos altos estándares éticos en todas nuestras acciones y decisiones.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-4 mt-1 justify-content-center">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
      <div class="card tarjeta-resp">
        <i class="icono-valores fa-solid fa-user-group fa-5x"></i>
        <div class="texto-tarjeta-valores card-body">
          <h5 class="card-title">INCLUSIÓN</h5>
          <p class="card-text"> Fomentamos un entorno inclusivo que respeta y valora la diversidad en
            todas sus formas.</p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
      <div class="card tarjeta-resp">
        <i class="icono-valores fa-solid fa-group-arrows-rotate fa-5x"></i>
        <div class="texto-tarjeta-valores card-body">
          <h5 class="card-title">COLABORACIÓN</h5>
          <p class="card-text">Trabajamos en conjunto con comunidades, voluntarios y otras organizaciones
            para maximizar nuestro impacto.</p>
        </div>
      </div>
    </div>
  </div>
</div>



<!--Contenedor Noticias-->
<div class="contenedor-noticias row d-flex justify-content-center col-lg-12 col-md-12 col-sm-12 mx-auto">
  <h2 class="mb-4">NOTICIAS</h2>
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-3">
    <div class="tarjeta-noticias">
      <img src="/Inicio/noticia1.png" alt="noticia 1">
      <div class="texto-tarjeta-noticias card-body mt-3">
        <h5 class="card-title">EVENTOS</h5>
        <p class="card-text">Publicar información sobre futuros talleres, charlas o actividades sociales que ZUMATE
          organice.</p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-3">
    <div class="tarjeta-noticias">
      <img src="/Inicio/noticia2.png" alt="noticia 2">
      <div class="texto-tarjeta-noticias card-body mt-3">
        <h5 class="card-title">CAMPAÑAS DE RECAUDACIÓN</h5>
        <p class="card-text"> Promover campañas de donación, colaboración con empresas, o iniciativas de voluntariado.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-3">
    <div class="tarjeta-noticias">
      <img src="/Inicio/noticia3.png" alt="noticia 3">
      <div class="texto-tarjeta-noticias card-body mt-3">
        <h5 class="card-title">TESTIMONIOS</h5>
        <p class="card-text">Incluir testimonios de los niños, adolescentes y familias que han sido impactados por
          ZUMATE, además de entrevistas a voluntarios y colaboradores.</p>
      </div>
    </div>
  </div>
</div>
