<!-- Categorías de donaciones -->
<div class="donaciones row d-flex justify-content-center col-lg-12 col-md-12 col-sm-12 mx-auto">
  <div class="row g-4">
    <h1>DONACIONES</h1>
    <p style="font-size: 16px; text-align: center;">Tu contribución puede marcar la diferencia en la vida de muchos niños y adolescentes. Si no puedes donar
        dinero, también puedes apoyar donando bienes materiales que nos ayuden a cubrir necesidades básicas y a
        mejorar nuestras actividades.</p>
    <h3>¿QUÉ PUEDES DONAR?</h3>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
      <span class="donacion-item">Ropa y Calzado</span>
      <div class="card">
        <p>Nuevos o en buen estado para niños y adolescentes de diferentes edades.</p>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
      <span class="donacion-item">Materiales Deportivos y Artísticos</span>
      <div class="card">
        <p>Pelotas, raquetas, instrumentos musicales o cualquier material que ayude a fomentar la recreación
            y el desarrollo cultural de los jóvenes.</p>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
      <span class="donacion-item">Juguetes</span>
      <div class="card">
        <p>Nuevos o en buen estado para repartir durante nuestras actividades recreativas y eventos como la
            Chocolatada Navideña.</p>
      </div>
    </div>
  </div>
  <div class="row g-4 mt-1 justify-content-center">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
      <span class="donacion-item">Útiles Escolares</span>
      <div class="card">
        <p>Mochilas, cuadernos, lápices, colores, borradores y todo tipo de material educativo que sirva
            para nuestras Escuelas de Refuerzo.</p>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
      <span class="donacion-item">Alimentos no Perecibles</span>
      <div class="card">
        <p>Productos como arroz, menestras, conservas y leche en polvo, que contribuyen a nuestro programa
            de nutrición para las comunidades.</p>
      </div>
    </div>
  </div>
</div>

<!--Tipo de donacion-->
<div class="tipo-donacion mt-5 d-flex row col-lg-12 col-md-12 col-sm-12 mx-auto">
  <div class="objeto-donacion col col-lg-4 col-md-6 col-sm-12">
      <div class="contenido-donacion">
          <img src="/Donaciones/entrega-presencial.png" alt="entrega presencial">
          <div class="entrega-texto">
              <h3>Entrega presencial</h3>
              <a routerLink="entrega-presencial"
                  class="btn btn-primary">Registrarse</a>
          </div>
      </div>
      <div class="ajustar-texto mt-4">
          <p>Puedes llevar tus donaciones a nuestra dirección actual.</p>
      </div>
  </div>

  <div class="objeto-donacion col col-lg-4 col-md-6 col-sm-12">
      <div class="contenido-donacion">
          <img src="/Donaciones/entrega-domicilio.png" alt="entrega domicilio">
          <div class="entrega-texto">
              <h3>Recolección a domicilio</h3>
              <a routerLink="recoleccion-domicilio"
                  class="btn btn-primary">Registrarse</a>
          </div>
      </div>
      <div class="ajustar-texto mt-4">
          <p>No tienes que moverte, nosotros recogemos tus donaciones directamente en tu hogar. Contáctanos
              para coordinar la fecha y hora de recolección, ¡y nos encargaremos del resto!</p>
      </div>
  </div>
</div>
