<div class="como-ayudar-container row mx-auto">
  <div class="texto-como-ayudar col-xl-6 col-lg-6 col-md-6 col-sm-12 mx-auto">
      <h2 class="title">¿Cómo Ayudar?</h2>
      <p class="parrafo1">Existen muchas formas de ayudar. Ya sea con tu tiempo, recursos o apoyo moral, cada acción contribuye a crear un futuro mejor.</p>
  </div>
  <div class="opciones-como-ayudar col-xl-6 col-lg-6 col-md-6 col-sm-12 mx-auto">
      <div class="row">
          <div class="item-como-ayudar col-xl-6 col-lg-6 col-md-6 col-sm-12 mx-auto">
              <a routerLink="/voluntariado">
                  <img src="/Como-ayudar/voluntariado.png" alt="voluntariado" class="img-fluid">
              </a>
          </div>
          <div class="item-como-ayudar col-xl-6 col-lg-6 col-md-6 col-sm-12 mx-auto">
              <a routerLink="/donaciones">
                  <img src="/Como-ayudar/donaciones.png" alt="donaciones" class="img-fluid">
              </a>
          </div>
          <div class="item-como-ayudar col-xl-6 col-lg-6 col-md-6 col-sm-12 mx-auto">
              <a routerLink="/donar">
                  <img src="/Como-ayudar/donar-dinero.png" alt="participar en eventos" class="img-fluid">
              </a>
          </div>
          <div class="item-como-ayudar col-xl-6 col-lg-6 col-md-6 col-sm-12 mx-auto">
              <a routerLink="/patrocinar-proyecto">
                  <img src="/Como-ayudar/proyecto.png" alt="patrocinar proyecto" class="img-fluid">
              </a>
          </div>
      </div>
  </div>
</div>
