<div class="menu-container">
  <h1 class="menu-title">Menú Administrativo</h1>
  <h2 class="menu-subtitle">Seleccione una opción</h2>

  <div class="section">
    <h3 class="section-title">Registros Voluntariado</h3>
    <div class="menu-row">
      <a class="menu-item" routerLink="/lista-pasantia">
        <span class="menu-icon">🎓</span>
        <span class="menu-text">Programa de Pasantía</span>
      </a>
      <a class="menu-item" routerLink="/lista-chocolatada">
        <span class="menu-icon">🍫</span>
        <span class="menu-text">Chocolatada Navideña</span>
      </a>
      <a class="menu-item" routerLink="/lista-evento">
        <span class="menu-icon">📅</span>
        <span class="menu-text">Eventos de 1 a 3 días</span>
      </a>
    </div>
  </div>

  <div class="section">
    <h3 class="section-title">Registros Patrocinadores</h3>
    <div class="menu-row">
      <a class="menu-item" routerLink="/lista-patrocinar">
        <span class="menu-icon">🤝</span>
        <span class="menu-text">Patrocinadores</span>
      </a>
    </div>
  </div>

  <div class="section">
    <h3 class="section-title">Registros Donaciones</h3>
    <div class="menu-row">
      <a class="menu-item" routerLink="/lista-presencial">
        <span class="menu-icon">🏠</span>
        <span class="menu-text">Entrega Presencial</span>
      </a>
      <a class="menu-item" routerLink="/lista-recoleccion">
        <span class="menu-icon">🚚</span>
        <span class="menu-text">Recolección a Domicilio</span>
      </a>
    </div>
  </div>

  <div class="section">
    <h3 class="section-title">Libro de Reclamaciones</h3>
    <div class="menu-row">
      <a class="menu-item" routerLink="/lista-reclamaciones">
        <span class="menu-icon">📖</span>
        <span class="menu-text">Libro de Reclamaciones</span>
      </a>
    </div>
  </div>

  <div class="section">
    <h3 class="section-title">Contactanos</h3>
    <div class="menu-row">
      <a class="menu-item" routerLink="/lista-contacto">
        <span class="menu-icon">📞</span>
        <span class="menu-text">Contacto usuario</span>
      </a>
    </div>
  </div>
</div>

<div class="menu-container">
  <h1 class="menu-title">Registro Personal</h1>

  <div class="section">
    <h3 class="section-title">Opciones de Registro</h3>
    <div class="menu-row">
      <a class="menu-item" routerLink="/registro-admin">
        <span class="menu-icon">👤</span>
        <span class="menu-text">Registro de empleados</span>
      </a>
    </div>
  </div>

  <div class="menu-container">
    <h1 class="menu-title">Registro aliados</h1>
    <div class="section">
      <h3 class="section-title">Opciones de aliados</h3>
    <div class="menu-row">
      <a class="menu-item" routerLink="/lista-logos">
        <span class="menu-icon">🫂</span>
        <span class="menu-text">Registro de aliados</span>
      </a>
    </div>
</div>
