<footer class="bg-white text-custom pt-5 pb-4" style="color: #2e2c7f;">
  <div class="container text-center text-md-start" id="footer-id">
      <div class="row">
          <!-- Primera columna -->
          <div
              class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 d-flex flex-column align-items-center justify-content-center text-center">
              <img src="./Inicio/logo.png" alt="logo zumate" id="footer-logo" height="180">

          </div>

          <!-- Segunda columna -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h4 class="mb-4" style="color: #2e2c7f;"><strong>Servicios</strong></h4>
              <hr class="mb-4">
              <p><a class="nav-link" routerLink="/programas" target="_blank">Programas</a></p>
              <p><a class="nav-link" routerLink="/como-ayudar" target="_blank">¿Cómo Ayudar?</a></p>
              <p><a class="nav-link" routerLink="/blog" target="_blank">Blog</a></p>
              <p><a class="nav-link" routerLink="/donar" target="_blank">¿Quieres Donar?</a></p>
              <p><a class="nav-link" routerLink="/libro-reclamaciones" target="_blank">Libro de reclamaciones</a></p>
              <p><a class="nav-link" routerLink="/terminos-uso" target="_blank">Términos de uso</a></p>
              <p><a class="nav-link" routerLink="/terminos-privacidad" target="_blank">Términos de Privacidad</a></p>
          </div>

          <!-- Tercera columna -->
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
              <h4 class="mb-4" style="color: #2e2c7f"><strong>ONG Zumate</strong></h4>
              <hr class="mb-4">
              <p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                      class="bi bi-house-heart-fill" viewBox="0 0 22 22">
                      <path
                          d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707z" />
                      <path
                          d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018" />
                  </svg>
                  Oficina Central: Jr. Huiracocha N°1570 - Jesús María
              </p>
              <p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-telephone-fill" viewBox="0 0 18 18">
                      <path fill-rule="evenodd"
                          d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                  </svg>
                  Teléfono: +51 917 365 659
              </p>
              <p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-envelope-fill" viewBox="0 0 16 16">
                      <path
                          d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                  </svg>
                  E-mail: zumate.vive&#64;gmail.com
              </p>
          </div>
      </div>
  </div>
  <!-- Derechos de autor -->
  <div class="text-center mt-4">
      <p><br>&copy; 2024 ONG Zumate. Todos los derechos reservados.</p>
  </div>
</footer>
