<!--Contenido-->
<div class="contenedor voluntariado">
  <h2 class="title">VOLUNTARIADO</h2>
  <p>Únete a nuestro equipo de voluntarios y contribuye a mejorar la vida de niños y adolescentes en situación de vulnerabilidad. Ofrecemos varias oportunidades de voluntariado, adaptadas a diferentes intereses y disponibilidades:</p>
  <h2 class="subtitle">PARTICIPA CON NOSOTROS EN LOS SIGUIENTES EVENTOS:</h2>

  <div class="tarjetas-contenido">
      <div class="tarjeta texto-verde">
          <p>Dirigido a estudiantes universitarios que deseen adquirir experiencia en el ámbito social. Colabora con nosotros en diversas áreas como educación, salud y sensibilización comunitaria. Al finalizar, recibirás un certificado de Prácticas Preprofesionales (PPP), que validará tu participación y aportes en la ONG.</p>
      </div>
      <div class="tarjeta texto-verde">
          <p>Comparte el espíritu de la Navidad con los niños y familias de las comunidades que apoyamos. Participa en la organización y ejecución de nuestra tradicional Chocolatada Navideña. Por tu colaboración, recibirás un diploma de reconocimiento por tu valiosa ayuda en esta actividad tan especial.</p>
      </div>
      <div class="tarjeta texto-verde">
          <p>Si dispones de poco tiempo pero quieres contribuir, puedes participar en eventos cortos, de uno a tres días. Colabora en actividades como talleres, campañas de sensibilización o jornadas recreativas. Al finalizar, te entregaremos un diploma por tu dedicación y participación.</p>
      </div>
  </div>

  <div class="tarjetas-eventos">
      <div class="tarjeta evento" style="background-image: url('/Voluntariado/Chocolatada.jpg');">
          <div class="contenedor-boton">
              <h3>Programa de Pasantía</h3>
              <a routerLink="programa-pasantia">
                  <button class="button-registro">REGISTRARSE</button>
              </a>
          </div>
      </div>
      <div class="tarjeta evento" style="background-image: url('/Voluntariado/Eventos.jpg');">
          <div class="contenedor-boton">
              <h3>Chocolatada Navideña</h3>
              <a routerLink="chocolatada">
                  <button class="button-registro">REGISTRARSE</button>
              </a>
          </div>
      </div>
      <div class="tarjeta evento" style="background-image: url('/Voluntariado/Pasantia.jpg');">
          <div class="contenedor-boton">
              <h3>Eventos de 1 a 3 días</h3>
              <a routerLink="eventos">
                  <button class="button-registro">REGISTRARSE</button>
              </a>
          </div>
      </div>
  </div>
</div>

